
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Special anniversaire Pierre-Em</h1>
    </div>
  </div>

 <div class="row">
<% @cards.each do |card| %>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('<%= card.avatar_url height: 300, width: 400, crop: :fill %>');">
        <div class="card-category"><%= card.name %></div>
        <div class="card-description">
          <h2><%= card.title %></h2>
          <p><%= card.content  %></p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

  <% end %>
</div>

